<table class="scoreTable" border="1" style="border-spacing: 5px;border-radius:10px">
    <tr>
        <th class="scoreCard">CSK</th>
        <th class="scoreCard">Batsman - 1</th>
        <th class="scoreCard">Batsman - 2</th>
        <th class="scoreCard">Over</th>
        <th class="scoreCard">Bowler</th>
    </tr>
    <tr>
        <td class="scoreCard">{{this.score}} - {{this.noOfWickets}}</td>
        <td class="scoreCard">{{this.batsmen.[0]}} - {{this.runsTaken.[0]}}</td>
        <td class="scoreCard">{{this.batsmen.[1]}} - {{this.runsTaken.[1]}}</td>
        <td class="scoreCard">{{this.over}}</td>
        <td class="scoreCard">{{this.bowler.[0]}} {{this.runsGiven.[0]}}-{{this.wicketsTaken.[0]}}</td>
    </tr>
</table>