<tr>
    <td>Over {{this.variables.overcount}}</td>
    <td>{{this.variables.b.[0]}}</td>
    <td>{{this.variables.b.[1]}}</td>
    <td>{{this.variables.b.[2]}}</td>
    <td>{{this.variables.b.[3]}}</td>
    <td>{{this.variables.b.[4]}}</td>
    <td>{{this.variables.b.[5]}}</td>
    <td>{{this.variables.t}}</td>
</tr>