<tr>
    <td>Over {{this.overcount}}</td>
    <td>{{this.b1.[0]}}</td>
    <td>{{this.b1.[1]}}</td>
    <td>{{this.b1.[2]}}</td>
    <td>{{this.b1.[3]}}</td>
    <td>{{this.b1.[4]}}</td>
    <td>{{this.b1.[5]}}</td>
    <td>{{this.b1.[6]}}</td>
</tr>