<table>
    <tr>
        <div>
            <button class="score-button" {{action 'runs' 0 }}>.</button>
            <button class="score-button" {{action 'runs' 1}}>1</button>
            <button class="score-button" {{action 'runs' 2}}>2</button>
            <button class="score-button" {{action 'runs' 3}}>3</button>
            <button class="score-button" {{action 'runs' 4}}>4</button>
            <button class="score-button" {{action 'runs' 5}}>5</button>
            <button class="score-button" {{action 'runs' 6}}>6</button>
            <button class="score-button" {{action 'out' }}>Out</button>
        </div>
    </tr>
</table>