<div style="width: 600px;">
    <div class="logocsk"></div>
    <h4>Batting Team</h4>
    <h3>{{this.variables.battingTeam}}</h3>
    <br>
    <h4>Total runs needed:</h4>
    <h3>{{this.variables.runsNeeded}}</h3>
    <br>
    <h4>Overs: </h4>
    <h3>{{this.variables.overs}}</h3>
    <br>
</div>
<h3><button class="button" {{action 'showBody' }}>{{this.variables.button1}}</button></h3>
<br>
<br>