<div class="jumbo">
    <div>
        <p class="header">Cricket Commentary Page</p>
    </div>
    <br>
    <table>
        <tr>
            <div class="flex-container">
                <div style="width: 600px;">
                    <div class="logocsk"></div>
                    <h4>Batting Team</h4>
                    <h3>{{this.battingTeam}}</h3>
                    <br>
                    <h4>Total runs needed:</h4>
                    <h3>{{this.runsNeeded}}</h3>
                    <br>
                    <h4>Overs: </h4>
                    <h3>{{this.overs}}</h3>
                    <br>
                    <h3><button class="button" {{action "toggleBody" }}>{{this.button1}}</button></h3>
                    <br><br>
                </div>

                <div style="width: 500px;">
                    {{#if isExpanded}}
                    <ScoreCard></ScoreCard>
                    <br>
                    <h4 class="scoreEditor">Score Editor</h4>
                    <br>
                    <Score></Score>
                    <br>
                    <h4 class="scoreEditor">Score Table</h4>
                    <br>
                    <table class="scoreTable" border="1" style="border-spacing: 5px;border-radius:10px">
                        <tr>
                            <th>Over</th>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>total</th>
                        </tr>
                        <ScoreTableRow></ScoreTableRow>
                    </table>
                    <br><br>
                    {{/if}}
                    <br><br>
                </div>
            </div>

            <br><br>
        </tr>
    </table>
</div>